# Pandas Basics

- Pandas is one of the most commonly used Python packages/libraries for data science.<br><br>
- Pandas is Python's answer for making two dimensional tables (ala Excel and SQL).<br><br>
- Pandas calls a table a "DataFrame".<br><br>
- Pandas DataFrames are used by Python's other packages for statistical analysis, data manipulation, and data visualization.<br><br>
- Pandas DataFrames can be exported as .csv and other files.<br><br>

### Importing Pandas

Because pandas is one of the most commonly used Python packages, it often gets imported as a shortened version of it's actual name. This makes it quicker to type.

In [118]:
import pandas as pd

## Loading data as a Pandas DataFrame

You can open the file, define it as a Pandas DataFrame, assign it to a variable, and close the file in one line.

#### Loading .csv files

In [157]:
flower_df = pd.read_csv("sampleDataset.csv")
# Tip:'df' is often used to name DataFrames

#### Loading other file types

You can still use pd.read_csv to open other file types, as long as the data is organized in rows, with some delimiter separating the columns.

In [149]:
pneu_care_df = pd.read_csv("sampleDataset.txt", delimiter = "\t")

## Viewing your DataFrame

You can first check the length of your DataFrame before you view the whole DataFrame. If it's very large, you may not want to view the entire DataFrame.

In [121]:
len(flower_df)

15

To view the entire DataFrame, simply call the variable:

In [122]:
flower_df

   plant_id  petal_length  petal_width petal_color
0       AB1           2.4          1.3        blue
1       AB2           2.3          1.5        blue
2       AB3           3.8          1.6      purple
3       AB4           2.6          0.5        blue
4       AB5           2.9          1.3        blue
5       AB6           3.5          0.8      purple
6       AB7           3.0          1.4        blue
7       AB8           2.7          0.9        blue
8       AB9           3.0          1.7        blue
9      AB10           2.8          1.8        blue
10     AB11           3.4          0.9      purple
11     AB12           3.6          1.4      purple
12     AB13           3.8          1.3      purple
13     AB14           2.9          1.2      purple
14     AB15           2.7          0.8        blue

To view only the top 5 rows:

In [125]:
flower_df.head()

  plant_id  petal_length  petal_width petal_color
0      AB1           2.4          1.3        blue
1      AB2           2.3          1.5        blue
2      AB3           3.8          1.6      purple
3      AB4           2.6          0.5        blue
4      AB5           2.9          1.3        blue

What does the following code do?

In [127]:
flower_df.sample(3)

   plant_id  petal_length  petal_width petal_color
3       AB4           2.6          0.5        blue
13     AB14           2.9          1.2      purple
14     AB15           2.7          0.8        blue

## Practice exercise 1

Earlier, we loaded a second DataFrame called pneu_care_df.

#### How long is the pneu_care_df DataFrame?

#### If the DataFrame is longer than 20 lines, view the top 5 lines.

#### View a sample of 10 lines.

## Renaming columns

Renaming columns is a common task when working with DataFrames. As you probably saw when you looked at the top of pneu_care_df, the column names don't quite match up.

We need a list of the new column names that we would like to use. I've put the list together for you. To rename columns, the code is simple.

In [150]:
new_column_names = ["Countries and areas", "Year", "Short Source", "Long Source",
                    "National", "Male", "Female", "Urban", "Rural", "Poorest", 
                    "Second", "Middle", "Fourth", "Richest"]

pneu_care_df.columns = new_column_names

Let's check to see if it worked:

In [145]:
pneu_care_df.head()

,Countries and areas,Year,Short Source,Long Source,National,Male,Female,Urban,Rural,Poorest,Second,Middle,Fourth,Richest
0,NaN,NaN,NaN,NaN,NaN,Male,Female,Urban,Rural,Poorest,Second,Middle,Fourth,Richest
1,Afghanistan,2011.0,MICS 2010-2011,Multiple Indicator Cluster Survey 2010-2011,61.0,62,59,67,59,46,60,66,64,66
2,Afghanistan,2015.0,DHS 2015,Demographic and Health Survey 2015,62.0,62,60,65,60,53,66,56,67,70
3,Albania,2000.0,MICS 2000,Multiple Indicator Cluster Survey 2000,83.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Albania,2005.0,MICS 2005,Multiple Indicator Cluster Survey 2005,45.0,32,61,28,53,56,56,25,36,30

"Countries and areas" is a long column name. Let's shorten it to "Countries".

We can use the rename function. We need to pass the function a dictionary of the old name to be replaced as the key and the new name as the value.

In [151]:
pneu_care_df.rename(columns = {"Countries and areas": "Countries"}, inplace = True)
#Tip: inplace = True has to be used because we want to rename the name within the same variable.

Check the top of the DataFrame again to be sure it worked as expected. You know the code:

## Dropping rows and columns

Dropping rows and columns is another common operation when cleaning your data. You may have noticed that row 0 in the pneu_care_df DataFrame is messy and not part of our usable data.<br><br> When we made our DataFrames, a number was added at the beginning of each row. This is called the index. We can reference the index to drop a row:

In [152]:
pneu_care_df.drop(0, inplace = True)
pneu_care_df.head()

,Countries,Year,Short Source,Long Source,National,Male,Female,Urban,Rural,Poorest,Second,Middle,Fourth,Richest
1,Afghanistan,2011.0,MICS 2010-2011,Multiple Indicator Cluster Survey 2010-2011,61.0,62,59,67,59,46,60,66,64,66
2,Afghanistan,2015.0,DHS 2015,Demographic and Health Survey 2015,62.0,62,60,65,60,53,66,56,67,70
3,Albania,2000.0,MICS 2000,Multiple Indicator Cluster Survey 2000,83.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Albania,2005.0,MICS 2005,Multiple Indicator Cluster Survey 2005,45.0,32,61,28,53,56,56,25,36,30
5,Albania,2009.0,DHS 2008-2009,Demographic and Health Survey 2008-2009,70.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

With the included row indices, we do not need the plant_id column in the flower_df DataFrame. We have to add one more argument so that the function knows we are removing a column instead of a row.

In [158]:
flower_df.drop("plant_id", axis = 1, inplace = True)
flower_df.head()

   petal_length  petal_width petal_color
0           2.4          1.3        blue
1           2.3          1.5        blue
2           3.8          1.6      purple
3           2.6          0.5        blue
4           2.9          1.3        blue

## Practice exercise 2

#### The column names are a little long for the flower_df DataFrame. Make a list of column names that don't include the word "petal", and rename the columns.

#### Check the DataFrame to see if it worked as expected.

#### Write code to remove the Short Source and Long Source columns from the pneu_care_df DataFrame. Add something to the end of your script to view only the top 5 rows.

## Reformatting columns

Often we need to change the type of the data in a particular row.

In the pneu_care_df, the Year column data is currently a float (2007.0). We want to change the column data to an integer (2007).

In [172]:
pneu_care_df["Year"] = pneu_care_df.Year.astype(int)
pneu_care_df.head()

,Countries,Year,Short Source,Long Source,National,Male,Female,Urban,Rural,Poorest,Second,Middle,Fourth,Richest
1,Afghanistan,2011,MICS 2010-2011,Multiple Indicator Cluster Survey 2010-2011,61.0,62,59,67,59,46,60,66,64,66
2,Afghanistan,2015,DHS 2015,Demographic and Health Survey 2015,62.0,62,60,65,60,53,66,56,67,70
3,Albania,2000,MICS 2000,Multiple Indicator Cluster Survey 2000,83.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Albania,2005,MICS 2005,Multiple Indicator Cluster Survey 2005,45.0,32,61,28,53,56,56,25,36,30
5,Albania,2009,DHS 2008-2009,Demographic and Health Survey 2008-2009,70.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Wait! That worked, but why? What did we just do? We haven't learned that yet!

## Subsampling the DataFrame

Let's go back to the flower_df DataFrame. To reference only one column, you can use:

In [174]:
flower_df["color"]

0       blue
1       blue
2     purple
3       blue
4       blue
5     purple
6       blue
7       blue
8       blue
9       blue
10    purple
11    purple
12    purple
13    purple
14      blue
Name: color, dtype: object

If you want to reference multiple columns of the data, you can use:

In [29]:
flower_df[["length", "width"]]

    petal_length  petal_width
0            2.4          1.3
1            2.3          1.5
2            3.8          1.6
3            2.6          0.5
4            2.9          1.3
5            3.5          0.8
6            3.0          1.4
7            2.7          0.9
8            3.0          1.7
9            2.8          1.8
10           3.4          0.9
11           3.6          1.4
12           3.8          1.3
13           2.9          1.2
14           2.7          0.8

We use two sets of brackets because one set is telling Pandas that you are referencing a "key" (i.e. a column) and the second set is telling Pandas that it is a list of multiple keys.

You may have noticed that the formatting was different between the two outputs. Try using double brackets with only one object:

In [175]:
flower_df[["color"]]

     color
0     blue
1     blue
2   purple
3     blue
4     blue
5   purple
6     blue
7     blue
8     blue
9     blue
10  purple
11  purple
12  purple
13  purple
14    blue

There is a second way to reference a single column. This way will allow you to apply different statistical functions to a particular column of the DataFrame.

In [34]:
flower_df.color

0       blue
1       blue
2     purple
3       blue
4       blue
5     purple
6       blue
7       blue
8       blue
9       blue
10    purple
11    purple
12    purple
13    purple
14      blue
Name: petal_color, dtype: object

Now let's view only the rows of data for flowers with blue petals.

In [176]:
flower_df.color == "blue"

0      True
1      True
2     False
3      True
4      True
5     False
6      True
7      True
8      True
9      True
10    False
11    False
12    False
13    False
14     True
Name: color, dtype: bool

While that was the intuitive way to do it, it didn't give us what we really wanted. It will be important to know the distinction between the line of code above and the line of code below. If you are referencing a value in a column to compute a statistical analysis, the line of code above may be what the computer needs. If you want to see all the rows that have a particular value in a particular column, you will need to put that line of code inside the framework of the entire DataFrame, like this:

In [177]:
flower_df[flower_df.color == "blue"]

    width  length color
0     2.4     1.3  blue
1     2.3     1.5  blue
3     2.6     0.5  blue
4     2.9     1.3  blue
6     3.0     1.4  blue
7     2.7     0.9  blue
8     3.0     1.7  blue
9     2.8     1.8  blue
14    2.7     0.8  blue

You can also string multiple functions in a row. What do you think this will do?

In [179]:
flower_df[["length", "width"]][flower_df.color == "blue"].sample(4)

   length  width
8     1.7    3.0
7     0.9    2.7
6     1.4    3.0
0     1.3    2.4

## Practice exercise 3

Let's return to the larger DataFrame, pneu_care_df.

#### First, you need to remember the column labels. Write code to view the top few rows of the DataFrame.

#### Write code to view only the countries, year, and national columns.

#### View the countries and national columns for the year 2003.

#### As an extra challenge, bringing in something you learned yesterday, write code to view the countries and national columns of 5 rows that have a National rate higher than 60.

# <br>Pandas data aggregation, grouping, and simple plotting

Part two of the pandas tutorial! <br>To summarize part one, we wrote code to:
- Load data in as a DataFrame
- View the DataFrame in different ways
- Rename the column headers
- Drop a row or column
- Subset the data by column name or data point attribute
- And, briefly, change the formatting of a single column

## Data aggregation

Data aggregation means taking many data points and reducing them to one number, whether it's a count, sum, mean, or other single statistic.

These functions all work the same way, as functions that get added on to the end of our DataFrame object:
- .count()
- .sum()
- .mean()
- .median()
- .min()
- .max()

Let's try some of these on our flower_df DataFrame and see what happens:

In [77]:
flower_df.count()

plant_id        15
petal_length    15
petal_width     15
petal_color     15
dtype: int64

In [80]:
flower_df.sum()

plant_id        AB1AB2AB3AB4AB5AB6AB7AB8AB9AB10AB11AB12AB13AB1...
petal_length                                                 45.4
petal_width                                                  18.4
petal_color     bluebluepurplebluebluepurplebluebluebluebluepu...
dtype: object

In [78]:
flower_df.mean()

petal_length    3.026667
petal_width     1.226667
dtype: float64

In [79]:
flower_df.min()

plant_id         AB1
petal_length     2.3
petal_width      0.5
petal_color     blue
dtype: object

Of course, we usually want to use these functions on a single column. Because we are referencing a single column and not multiple columns, we can stack the column name and the desired function onto the end of out DataFrame. Let's try it with flower_df:

In [81]:
flower_df.length.median()

2.9

In [83]:
flower_df.width.max()

1.8

In [182]:
pneu_care_df.Year.min()

1990

In [183]:
pneu_care_df.Male.mean()

TypeError: must be str, not int

What happened??!! Any ideas?